 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;700&display=swap');


 /* For the nav-button component*/
 .nav-btn{
    outline: none !important;
    background-color: #f7b025 !important;
   border-radius: 23px !important;
    color: #031d2d;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 50px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: .01em;
    font-size: 15px;
    width: 166px;
    font-family: encode sans;   
 }

 .nav-btn:hover{
 background-color: #3273dc !important;
 color: aliceblue;
 }



/* For the navbar*/
 .navigation{
   background-color: #02265c ;
  
 }

 .navigation-scroll{
  background-color: #fff;
  -webkit-box-shadow: 0 8px 16px rgba(10,10,10,.1);
   box-shadow: 0 8px 16px rgba(10,10,10,.1);
  padding: 0.5rem 0;
  padding-left: 100px;
}
 


/* For the navbar links*/
 .navigation-link{
   color: aliceblue;
   font-family: encode sans;           
   font-weight: 600;
   letter-spacing: .01em;
   font-size: 1em;
   line-height: 18px;
 
 }

 .navigation-link:hover{
   color: aliceblue;
 }

 /* For the navbar text*/

.navigation-text{
color: #f7b025;
font-family: encode sans;
   font-weight: 600;
   letter-spacing: .01em;
   font-size: 1em;
   line-height: 18px;  
}
.navigation-text:hover{
   color: aliceblue;
}
 
 /* for navbar toggler*/
 .navigation-toggler{
 background-color: aliceblue;
 }
/*Media query for navbar*/

@media(max-width:576px){
  .nav-btn{
  margin: auto;
  margin-left: 50px;
  }
 }
 
 /* for hero section*/
 .hero-bg{
  background-image:url("./images/herobg.png") !important;
  text-align: center;
  min-height:fit-content;
  background-size: cover;
  margin-top: 50px;
 }


 .hero-img{
  width: 650px;
    max-height: 67vh;
    height: 67vh ;
    object-fit: contain;
 }



 /*for hero section h1*/
 .hero-headingone{
    color: aliceblue;
    font-weight: 800;
    line-height: 60px;
    font-size:auto;
    
    
 }

  /*for hero section paragraph*/
  .hero-para{
    color: aliceblue;
    font-weight: 500;
    font-size:large;
    
  }
 
 /*for hero section btn 1*/
 .hero-firstbtn{
  outline: none !important;
    background-color: #f7b025 !important;
   border-radius: 23px !important;
    color: #031d2d;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 50px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: .01em;
    font-size: 15px;
    width: 240px;
    font-family: encode sans;  
    
    
 }

 .hero-firstbtn:hover{
  background-color: #3273dc !important;
 color: aliceblue;
 }

  /*for hero section btn 2*/
 
  .hero-sndbtn{
   border-radius: 23px !important;
   border-width: 1px solid;
    color: #f7b025;
    border-color: #f7b025;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 50px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: .01em;
    font-size: 15px;
    width: 240px;
    font-family: encode sans;  
  }
 

.hero-sndbtn:hover{
  background-color: #3273dc !important;
  color: aliceblue;
}

/*Media query for hero section*/
@media(max-width:576px){

  .hero-img{
    height: 230px;
    width: 230px;
    margin: 5px;
  }
  .hero-firstbtn{
    width: 100%;
  
  } 
  .hero-sndbtn{
    width: 100%;
    
  }
 }



/*for container with brands*/
.brands-bg{
  background-color: aliceblue;
}
/*for sponsor brands image*/
.brands{
  height: 53px;
  width: 140px;
}

/*for text beneath brands*/
.txt-brands{
  color: #02265c;
  font-weight: 700;
}

.big-img{
  max-width: 1050px;
  height:auto;
}

/*for  title of first set of cards*/

.title-fstcards{
  color: #02265c;
  font-weight: 700;
}

/*for body of first set of cards*/
.body-fstcards{
  
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(242, 238, 230);
  border-radius: 10px;
  min-height:254px;
}

/*for text in first set of cards*/
.text-fstcards{
  font-weight: 600;
}

.btn-fstcards{
  border: none !important;
}

/*for partners background*/
.partners-bg{
  background-image:url("./images/alicebluebg.png") !important;
  text-align: center;
  background-size: cover;
  min-height: 350px;

}



/*for brands under our partners*/
.partners-brand{
  height:55px;
  width: 135px;
}

@media(max-width:576px){
  .partners-bg{
    height: 380px;
  }
}

/*for features card*/
.features-card{
  background: rgb(248, 251, 254);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 239, 242);
    border-radius: 10px;
    padding: 10px 30px;
  text-align: start;
 
}

.features-cardtitle{
  color: #02265c;
  font-weight: 700;
  font-size: large;
}

.features-anchor{
  text-decoration: none;
  color:#3273dc;
  font-weight: 700;
}

.features-anchor:hover{
  color: black;
}

/*Media query for features section*/


.security-poly{
  background: #011636;
    clip-path: polygon(100% 0, 100% 95%, 0 100%, 0 5%);
    margin-top: 100px;
    min-height: 370px;
    outline: none !important;
}


.security-img{
 height: 235px;
 max-width: 375px;
}






.news-poly{
  background: rgba(131, 185, 235, 0.06);
    clip-path: polygon(100% 0, 100% 95%, 0 100%, 0 5%);
    margin-top: -25px;
    outline: none !important;
    height: 350px;
}

.news-brand{
  height: 52px;
  width :120px;
}

/*for Contact us div*/

.contact-title{
  text-align: start;
  font-weight: 800;
}
/*media queries for contact box*/
@media(max-width:576px){
  .contact-title{
    text-align: center;
  }
  .contact-para{
    margin-left: 20px;

  }
  .contact-box{
    min-height: 280px;
  }
}
.contact-box{
  margin-top: 80px;
}
.contact-para{
  font-family: encode sans;
    font-weight: 500;
    font-size: 1.143em;
    line-height: 24px;
    letter-spacing: .045em;
    color: hsl(210, 9%, 29%);
    line-height: 20px;
    text-align: start;
    font-weight: 500;
}

.contact-nums{
  background:#f8fbfe;
  text-decoration: none;
  width: 264px;
  height: 45px;
  border-radius: 10px;
  display: block;
  font-family: encode sans;
  color: #444b52;
  font-weight: bolder;
}

.contact-numsimg{
  float: left;
 padding: 2px;
}

.contact-email{
  background:#f8fbfe;
  text-decoration: none;
  width: 320px;
  height: 55px;
  border-radius: 10px;
  display: block;
  font-family: encode sans;
  color: #444b52;
  font-weight: bolder;

}

.contact-socials{
  float: left;
}

.contact-img{
  width: 500px;
  height: 400px;
  margin-top: none;


}

.join-poly{
   min-height: 280px;
    margin-bottom: -20px;
    background: rgba(131,185,235,0.06);
    -webkit-clip-path: polygon(0% 7%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0% 7%, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    margin-top: 80px;
    padding: 80px;
   
    
}

.join-heading{
  font-family: "Encode Sans";
  color: #02265c;
  font-size: 2em;
  font-weight: 800;
  line-height: 40px;
  width: 85%;
  text-align: center;
  margin-left: 40px !important;


}

.join-btn{
  border: none !important; 
  width:240px !important;
}

.footer-poly{
  clip-path: polygon(0% 7%, 100% 0, 100% 100%, 0 100%);
  background: #011636;
    color: #fff;
    
    min-height: 200px;
  padding-top: 30px;
}

.footer-header{
  font-family: "Nexa Bold",sans-serif;
    font-weight: bold;
    font-size: 0.65em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
    color: #54a9f7;
  
  
}

.footer-ul{
  list-style-type: none;
  line-height: 27px;
   font-size: 1rem;
   width: 100%;
   font-weight: 600;
}




.footer-logo{
  width: 100px;
  height: 45px;
}


.final-footer{
  background-color:#02265c;
  padding-top: 8px;
  
}

.final-footerpara{
  font-family: "Encode Sans";
    color: rgb(255, 255, 255);
    font-size: 1.071em;
    line-height: 24px;
    font-weight: 500 !important;
}